<div class="container-fluid">

    <div class="row d-flex align-items-center">
  
      <div class="col-md-6">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <h1 class="text-center mb-3 titulo"(click)='entrar()' >Entre</h1>
  
            <div class="form-group">
              <label for="usuario">Usuário</label>
              <input [(ngModel)]='usuarioLogin.usuario' class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
            </div>
  
            <div class="form-group">
              <label for="usuario">Senha</label>
              <input [(ngModel)]='usuarioLogin.senha' class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
            </div>
  
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-success" (click)='entrar'>Entrar</button>
            </div>
        
            <hr class="mt-6 mb-6">
  
            <p class="text-center cliente_novo">Sou Novo <a routerLink="/cadastrar">Cadastre-se</a></p>
  
          </div>
        </div>
      </div>
  
      <div class="col-md-6" id="img-bg">
      
      </div>
  
    </div>
  </div>